@import url("./less/clear.less");
@import url("./less/variable.less");
@import url("./less/global.less");
@import url("./less/beautify.less");
@import url("./less/animate.less");

html {
  font-size: 16px;
}

/* 默认竖屏：用宽度缩放 */
@media screen and (max-width: 425px) and (orientation: portrait) {
  html {
    font-size: calc((16 / 425) * 100vw);
  }
}

/* 横屏：用高度缩放 */
@media screen and (max-height: 768px) and (orientation: landscape) {
  html {
    font-size: calc((16 / 768) * 100vh);
  }
}
